In [ ]:
import mysql.connector
from datetime import datetime, timedelta

# Połączenie z bazą danych
connection = mysql.connector.connect(
    host="giniewicz.it",
    user="team19",
    password="te@mzaiq",
    database="team19"
)

cursor = connection.cursor()
 
# Zapytanie SQL do wstawiania danych do tabeli miejsce_wylotu
insert_data_query = """
INSERT INTO Miejsce_przylotu (id_przylot, Miasto) 
VALUES (%s, %s);
"""

# Lista miast
miasta = ['Cairns', 'Alice Springs', 'Sydney', 'Gold Coast', 'Adelaide', 'Melbourne', 'Brisbane']
for id_przylot, Miasto in enumerate(miasta, start=1):  # Jeden wpis na miasto
        cursor.execute(insert_data_query, (id_przylot, Miasto))  
connection.commit()
cursor.close()
connection.close()